body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

input, button {
    padding: 10px;
    margin: 5px;
}

#list p {
    background: white;
    width: 320px;
    margin: 10px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px gray;
}

input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 10px;
}